@font-face {
  font-family: "Open Sans Italic";
  src: url("./assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: normal;
}
